.search-filter-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 48px;
    /* border: 2px solid red; */

}

.search-div {
    display: flex;
    width: 100%;
    /* border: 2px solid white; */
    justify-content: flex-start 

}


.filter-div{
    display: flex;
    width: 100%;
     /*border: 2px solid yellow;*/
    justify-content: flex-end 
}

.search-text-field-comp{
    width: 60%;

}

.filter-form-comp {
    width: 30%;
}

.main-content {
    font-family: 'Nunito Sans';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    gap: 48px;
    color: var(--primary-font-color);
}

.country-div {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 0;
    padding-right: 0;
    width: 350px;
    height: 350px;
    background-color: var(--secondary-color);
    border: 0px solid #969696;
    text-decoration: none;
    color: var(--primary-font-color);
}
.country-div img {
    display: flex;
    object-fit: cover;
    margin: 0;
    padding: 0;
    max-width: 350px;
    max-height: 150px;
  }

.country-div p {
    display: flex;
    padding-left: 24px;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 10px;
  }

.country-div h2 {
    padding-left: 24px;
    padding-top: 24px;
    font-size: 20px;
  }

ul {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
}


/* For tablets (assuming 768px is a breakpoint for tablet devices) */
@media screen and (max-width: 768px) {
    .search-filter-div {
        flex-direction: column-reverse;
        padding-left: 40px; /* Reduced padding */
        padding-right: 40px;
        justify-content: center

    }

    .search-div, .filter-div {
        /*width: auto;*/
        justify-content: center; /* Center the search and filter bars */
    }

    .css-lbxfq7-MuiFormControl-root {
        width: 100% !important;
        color: black !important;
    }

    .search-text-field-comp, .filter-form-comp {
        width: 100%; /* Full width for better use of space */
    }

    .main-content {
        padding-left: 40px;
        padding-right: 40px;
        gap: 24px; /* Reduced gap */
    }

    .country-div {
        width: 100%; /* Full width for better use of space */
        height: auto; /* Height auto to accommodate content */
    }

    .country-div img {
        max-width: 100%; /* Full width of the container */
    }
}

/* For mobile devices */
@media screen and (max-width: 400px) {
    .search-filter-div {
        padding-left: 20px; /* Even smaller padding for mobile */
        padding-right: 20px;
        margin-bottom: 24px; /* Reduced margin */
        gap: 20px;
    }


    .main-content {
        padding-left: 20px;
        padding-right: 20px;
        gap: 16px; /* Even smaller gap */
    }

    .country-div {
        width: 100%; /* Ensure it takes the full width */
    }

    /* Since mobile devices have less space, the font size and padding can be reduced */
    .country-div h2 {
        padding-left: 16px;
        font-size: 18px; /* Slightly smaller font size */
        padding-top: 0;
    }

    .country-div {
        padding-bottom: 15px;
    }

    .country-div p {
        padding-left: 16px;
        font-size: 14px; /* Slightly smaller font size */
    }
}